.my-page-container
  .my-page-container--upper
    %h2 会員登録完了
  .my-page-container--lower
    .my-page-container--lower--inner
      .done
        ありがとうございます。
        %br
        会員登録が完了しました。
      = link_to "メルカリをはじめる", products_path, class: "button" 