.my-page-container
  .my-page-container--upper
    %h2 電話番号の確認
  .my-page-container--lower
    .my-page-container--lower--inner
      = form_for @user, url: step3_signup_index_path, method: :get, html: {class: 'step2'} do |f|
        %h5 電話番号の入力
        = f.text_field :phone_number
        %h6 本人確認のため、携帯電話のSMSショートメッセージサービスを利用して認証を行います。
        .my-page-container--lower__button
          = f.submit "次へ進む", class: "button"
          %h6 ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに後悔されることはありません。
          = link_to "" do
            %h6 電話番号の確認が必要な理由>