.my-page-container{
  background-color: white;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
  &--upper{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #f5f5f5;
    h2{
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  &--center{
    &--inner{
      width: 60%;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #f5f5f5;
      &--upper{
        padding-top: 40px;
        h3{
          font-size: 10px;
          font-weight: bold;
        }
      }
      &--lower{
        padding-top: 20px;
        a{
          display: flex;
          justify-content: center;
          padding: 8px 0;
          background-color: #EA352D;
          text-decoration: none;
          text-align: center;
          color: white;
          font-size: 10px;
          span{
            padding-right: 10px;
          }
        }
      }
      
    }
  }
  &--lower{
    &--inner{
      width: 60%;
      margin: 20px auto 0;
      padding-top: 30px;
      a{
        display: flex;
        justify-content: flex-end;
        color: #0099E8;
        font-size: 10px;
        text-decoration: none;
        &:hover{
          opacity: 0.7;
        }
        p:hover{
          border-bottom: 0.5px solid #0099E8;
        }
      }
      h5{
        font-size: 9px;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
}