.my-page-container{
  &--center{
    &--inner{
      width: 60%;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #f5f5f5;
      &--upper{
        padding-top: 40px;
        h3{
          font-size: 10px;
          font-weight: bold;
        }
      }
      &--lower{
        padding-top: 20px;
        a{
          display: flex;
          justify-content: center;
          padding: 8px 0;
          background-color: $mercari_red;
          text-decoration: none;
          text-align: center;
          color: white;
          font-size: 10px;
          span{
            padding-right: 10px;
          }
        }
      }
    }
  }
  &--lower{
    &--inner{
      a{
        display: flex;
        justify-content: flex-end;
        color: $mercari_blue;
        font-size: 10px;
        text-decoration: none;
        &:hover{
          opacity: 0.7;
        }
        p:hover{
          border-bottom: 0.5px solid $mercari_blue;
        }
      }
    }
  }
}