%header.header
  .header-container
    .header-container__upper
      %ul.header-container__upper--logo
        %li
          L
        %li
          mercari
      %input{type: "text", placeholder: "何かお探しですか？"}
    .header-container__lower
      %ul.header-container__lower--left
        %li fa カテゴリーから探す
        %li fa ブランドから探す
      %ul.header-container__lower--right
        %li.new-user-resistration 新規会員登録
        %li.log-in ログイン