= render 'header'
%br
%br
%br
.credit-container
  .credit-container--upper
    %h2 支払い方法
  .credit-container--center
    .credit-container--center--inner
      .credit-container--center--inner--upper
        %h3 クレジットカード一覧
      .credit-container--center--inner--lower
        = link_to "" do
          %span 円
          %p クレジットカードを追加する
  .credit-container--lower
    .credit-container--lower--inner
      = link_to "" do
        %p 支払い方法について
        %span >