.slider{
  height: 200px;
  background-color: #EEEDEB;
  background-image: url('slider.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.popular-category-area{
  height: 120px;
  text-align: center;
  color: $mercari_black;
  &__top{
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &__bottom{
    margin-top: 10px;
    &--list{
      display: flex;
      justify-content: center;
      width: 100%;
      li{
        margin: 0 5px;
        padding: 3px 12px;
        background-color: #EFEFEF;
        border-radius: 12px;
        font-size: 9px;
        font-weight: bold;
      }
    }
  }
}
.new-products-index{
  margin: 0 auto;
  padding: 10px 0 30px;
  background-color: #EEEDEB;
  overflow: hidden;
  &__inner{
    width: 65%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &--title{
        font-size:20px;
        font-weight: bold;
      }
      &--more{
        font-size: 16px;
        font-weight: bold;
        color: #0295EE;
        margin-right: 10px;
      }
    }
  }
}
.products-top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  .product{
    box-sizing: content-box;
    position: relative;
    height: 240px;
    width: 192px;
    margin: 15px 0;
    background-color: white;
    outline: white;
    box-shadow: 0 3px 6px lightgray;
    transition: all 0.2s ease;
    a{
      color: $mercari_black;
    }
    &:hover{
      outline: 0.5px solid $mercari_blue;
    }
    &__link{
      display: block;
      height: 100%;
      text-decoration: none;
      &--image{
        height: 80%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &--price{
        position: absolute;
        top: 60%;
        left: 0;
        height: 30px;
        line-height: 20px;
        padding: 5px 10px 5px 5px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white; 
        border-radius: 0 15px 15px 0;
      }
      &--name{
        padding: 5px;
        font-size: 14px;
      }
      &:hover{
        outline: none;
      }
    }
  }
}

