.my-page-container{
  &--upper{
    .login-page{
      padding: 15px 0;
      p{
        font-size: 9px;
      }
      .new-user-button{
        width: 60%;
        height: 30px;
        margin: 0 auto;
        background-color: #0099E8;
        border-radius: 3px;
        a{
          display: block;
          justify-content: center !important;
          color: white;
          line-height: 30px;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}
