.my-page-container{
  .new-user{
    padding-top: 30px;
    text-align: center;
    p{
      font-size: 12px;
    }
  }
  .new-user-button{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $mercari_blue;
    border-radius: 3px;
    a{
      display: block;
      justify-content: center !important;
      color: white;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
