body{
  background-color: #F5F5F5;
}

.logout_content{
  width: 700px;
  height: 179px;
  margin: 0 auto;
  // padding: 64px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;

  .logout_button{
    width: 320px;
    height: 50px;
    margin: 126px 0px;
    background-color:#EA352E;
  }

    .btn{
      width: 320px;
      height: 50px;
      background-color:#EA352E;
      color: white;
    }

}