*{
  box-sizing: border-box;
}
.slider{
  height: 250px;
  background-color: #EEEDEB;
  background-image: url('mercari-slider.png');
  background-size: cover;
}
.popular-category-area{
  height: 120px;
  text-align: center;
  color: #333333;

  &__top{
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &__bottom{
    margin-top: 10px;
    &--list{
      display: flex;
      justify-content: center;
      width: 100%;
      li{
        margin: 0 5px;
        padding: 3px 12px;
        background-color: #EFEFEF;
        border-radius: 12px;
        font-size: 9px;
        font-weight: bold;
      }
    }
  }
}
.new-items-index{
  height: 1000px;
  background-color: #EEEDEB;
  overflow: hidden;
  &__ledies{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__mens{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__machines{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__toys{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
}

