*{
  box-sizing: border-box;
}

.header{
  height: 70px;
  padding: 10px 200px 0;
  background-color: rgb(231, 231, 231);
  font-size: 12px;
  box-shadow: 0 2px 2px 2px black;
  &__upper{
    display: flex;
    justify-content: space-between;
    height: 30px;
    &--logo{
      display: flex;
      margin-right: 30px;
      li{
        padding-right: 5px;
      }
    }
    input{
      width: 400px;
      padding: 0 50px 0 10px;
      font-size: 14px;
    }
  }
  &__lower{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    &--left{
      display: flex;
      li{
        margin-right: 10px;
      }
    }
    &--right{
      display: flex;
      .new-user-resistration{
        margin: 5px;
        padding: 0px 6px;
        background-color: #EA352D;
        line-height: 20px;
        font-size: 10px;
        color: white;
        border-radius: 3px;
      }
      .log-in{
        margin: 5px;
        padding: 0px 6px;
        line-height: 20px;
        color: #0099E8;
        border: 1px solid #0099E8;
        border-radius: 3px;
        

      }
    }
  }
}
.slider{
  height: 250px;
  background-color: #EEEDEB;
  background-image: url('mercari-slider.png');
  background-size: cover;
}
.popular-category-area{
  height: 120px;
  text-align: center;
  color: #333333;

  &__top{
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &__bottom{
    margin-top: 10px;
    &--list{
      display: flex;
      justify-content: center;
      width: 100%;
      li{
        margin: 0 5px;
        padding: 3px 12px;
        background-color: #EFEFEF;
        border-radius: 12px;
        font-size: 9px;
        font-weight: bold;
      }
    }
  }
}
.new-items-index{
  height: 1000px;
  background-color: #EEEDEB;
  overflow: hidden;
  &__ledies{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__mens{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__machines{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
  &__toys{
    width: 60%;
    margin: 30px auto;
    &--top{
      display: flex;
      justify-content: space-between;
      &--title{
        font-size:16px;
        font-weight: bold;
      }
      &--more{
        font-size: 10px;
        font-weight: bold;
        color: #0295EE;
      }
    }
    &--bottom{
      .items-top{
        display: flex;
        justify-content: space-between;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
      .items-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .item{
          height: 140px;
          width: 120px;
          background-color: burlywood;
        }
      }
    }
  }
}

