.mypage__header{
  height:150px;
  background: $mercari_black;
}
.mypage-area{
  background: #F5F5F5;
}
.mypage__content{
  width: 70%;
  padding:40px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.side-bar{
  a:visited{color:$mercari_black;}
  a:link{color:$mercari_black;}
  width:280px;
  margin:0 40px 0 0;
  box-sizing: border-box;
  &--upper__menu,
  &--center__menu,
  &--lower__menu{
    height: 48px;
    padding-left:16px;
    box-sizing: border-box;
  }
}
.side-bar-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-right:16px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  line-height:48px;
  &:hover{
    background-color: #eeeeee;
    .fa-chevron-right{
      transition: 0.3s ease-in-out;
      position: relative;
      right:-5px;
    }
  }
}
.side-bar--upper__menu__title{
  width:280px;
  margin:0 40px 0 0;
  box-sizing: border-box;
  height: 48px;
  padding:16px;
  box-sizing: border-box;
  font-weight: bold;
}
.side-bar--center__title,
.side-bar--lower__title{
  margin:40px 0 0;
  font-size:16px;
  font-weight: bold;
}
.side-bar-link,
.info-link,
.info-index-btn{
  text-decoration: none;
}
li{
  list-style: none;
}
.mypage--right{
  &__main{
    background: #ffffff;
    width:700px;
    margin-bottom:50px;
    .my-products{
      height: 72px;
      font-size: 16px;
      line-height: 72px;
      padding-left: 15px;
      font-weight: bold;
    }
  }
  &--upper{
    height:200px;
    background: url("mypage_user_bg.png");
    position: relative;
    text-align: center;
  }
}
.mypage__user-icon{
  position: relative;
  top:45px;
}
.mypage__user-name{
  position: relative;
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: bold;
}
.mypage__user-status{
  margin: 8px 0 0;
}
.user-icon{
  width:60px;
  height:60px;
  border-radius: 50%;
}
.mypage__user-status span{
  font-weight: bold;
}
.mypage__tab-container__tab{
  display:flex;
  height:74px;
  color:$mercari_black;
  font-weight: bold;
  &--left{
    width:50%;
    background: #ffffff;
    text-align: center;
    line-height:72px;
    border-top:solid red 2px;
    box-sizing: border-box;
  }
  &--right{
    width:50%;
    background: #eeeeee;
    text-align: center;
    line-height:74px;
  }
}
.info-box{
  display:flex;
  min-height: 80px;
  padding: 16px;
  color: $mercari_black;
  border-bottom: solid #F5F5F5 1px;
}
.mercari_info_icon{
  width:48px;
  height:48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.info-box-right{
  margin-left:20px;
  .lower{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #888888;
    .howmany{
      padding-right: 10px;
    }
  }
}
.index-view-btn{
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: $mercari_black;
  line-height: 56px;
  text-align: center;
}
.mypage__tab-container__lower{
  padding:16px;
  text-align: center;
}
.info-index-btn{
  height: 56px;
  background:#eeeeee;
  line-height: 56px;
}
.mypage__purchased-product__title{
  padding: 0 16px;
  box-sizing: border-box;
  background: #FAFAFA;
  line-height:72px;
  font-weight: bold;
}
.mypage__purchased-product__tab-container__content__text{
  padding:60px 0 60px;
  background: #ffffff;
  text-align:center;
  color:#cccccc;
}

.info-status__exhibit{
  width: 55px;
  padding: 0 5px;
  background-color: $mercari_blue;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}
.info-status__stop{
  width: 80px;
  padding: 0 5px;
  background-color: $mercari_red;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}
.info-status__trading{
  width: 55px;
  padding: 0 5px;
  background-color: $mercari_red;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}
.info-status__sold{
  width: 70px;
  padding: 0 5px;
  background-color: #888888;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.mine{
  .mypage__tab-container__tab{
    .three{
      display: flex;
      width: 100%;
      a{
        width: 33.3333%;
      }
    }
    a{
      display: block;
      color: $mercari_black;
      text-decoration: none;
      .mypage__tab-container__tab--red{
        background: #ffffff;
        text-align: center;
        line-height:72px;
        border-top:solid red 2px;
        box-sizing: border-box;
      }
      .mypage__tab-container__tab--gray{
        background: #eeeeee;
        text-align: center;
        line-height:74px;
      }
    }
    .bought{
      display: flex;
      width: 100%;
      a{
        width: 50%;
      }
    }
  }
  .mypage__tab-container__info{
    a{
      width: 100%;
    }
  }
}