.mypage__header{
  height:150px;
  background: #3D3D3D;
}

.mypage-area{
  background: #F5F5F5;
}

.mypage__content{
  width: 70%;
  height: 1300px;
  padding:40px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.side-bar{
  width:280px;
  margin:0 40px 0 0;
  box-sizing: border-box;
  &--upper__menu,
  &--center__menu,
  &--lower__menu{
    background: #ffffff;
    height: 48px;
    border-top: 1px solid #eee;
    padding:16px;
    box-sizing: border-box;
    &__title{
      background: #eeeeee;    
    }
  }
}

.side-bar--upper__menu__title{
  width:280px;
  margin:0 40px 0 0;
  box-sizing: border-box;
  height: 48px;
  border-top: 1px solid #eee;
  padding:16px;
  box-sizing: border-box;
  background: #eeeeee;
  font-weight: bold;
}


.side-bar--center__title,
.side-bar--lower__title{
  margin:40px 0 0;
  font-size:16px;
  font-weight: bold;
}

.side-bar-link,
.info-link,
.info-index-btn{
  text-decoration: none;
}

a:link{color:#3D3D3D;}
a:visited{color:#3D3D3D;}

li{
  list-style: none;
}

.mypage--right{
  &__main{
    background: #ffffff;
    height:65%;
    width:700px;
    margin-bottom:50px;
    overflow: scroll;
  }
  &--upper{
    height:200px;
    background: url("mypage_user_bg.png");
    position: relative;
    text-align: center;
  }
}

.mypage__user-icon{
  position: relative;
  top:45px;
}

.mypage__user-name{
  position: relative;
  // margin:0 auto;
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: bold;
}

.mypage__user-status{
  margin: 8px 0 0;
}

.user-icon{
  width:60px;
  height:60px;
  border-radius: 50%;
}

.mypage__user-status span{
  font-weight: bold;
}

.mypage__tab-container__tab{
  display:flex;
  height:74px;
  color:#333333;
  font-weight: bold;
  &--left{
    width:50%;
    background: #ffffff;
    text-align: center;
    line-height:72px;
    border-top:solid red 2px;
    box-sizing: border-box;
  }
  &--right{
    width:50%;
    background: #eeeeee;
    text-align: center;
    line-height:74px;
  }
}

.info-box{
  display:flex;
  min-height: 80px;
  padding: 16px;
  color: #333;
  border-bottom: solid #F5F5F5 1px;
  box-sizing: border-box;
}

.mercari_info_icon{
  width:48px;
  height:48px;
}

.info-box-right{
  margin-left:20px;
}

.index-view-btn{
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
}

.mypage__tab-container__lower{
  padding:16px;
  text-align: center;
}

.info-index-btn{
  height: 56px;
  background:#eeeeee;
  line-height: 56px;
}

.mypage__purchased-product__title{
  padding: 0 16px;
  box-sizing: border-box;
  background: #FAFAFA;
  line-height:72px;
  font-weight: bold;
}

.mypage__purchased-product__tab-container__content__text{
  padding:60px 0 60px;
  background: #ffffff;
  text-align:center;
  color:#cccccc;
}