.l-container{
  background-color: #F5F5F5;
  height:100vh;
  width:100vw;
}

.profile{
  width: 700px;
  height: 568px;
  margin: 0 auto;
  text-align: center;
  
  .profile_upper{
    width: 700px;
    height: 50px;
    font-size: 24px;
    background-color:white;
  }
  .profile_center{
    width: 700px;
    height: 156px;
    background: url(download.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    .profile_center_icon{
      .profile_icon{
        width: 60px;
        height: 60px;
        border: 1px solid  none;
        border-radius: 50%;
      }
    }
    .profile_center_nickname{
      .nickname{
        width: 220px;
        height: 48px;
        margin: 0px  0px  0px 8px;
        padding: 10px 16px 8px 16px;
      }
    }
  }
  .profile_lower{
    width: 700px;
    height: 300px;
    margin: 40px 0px;
    background-color:white;
    .profile_lower_textarea{
      height: 216px;
      text-align: center;
      padding: 10px;
      .introduction{
      resize: vertical;// 高さのみ広がるテキストエリア
      min-width:668px;
      min-height: 216px;
      }
    }
    .profile_lower_button{
      width: 668px;
      height: 50px;
      margin: 16px 0px 0px 0px;
      background-color: red;
      .btn{
        width: 668px;
        height: 50px;
        background-color: red;
        color: white;
      }
    }
  }
}