*{
  box-sizing: border-box;
}
body{
}

.profile{
  width: 700px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #F5F5F5;
  
  
  &__upper{
    width: 700px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color:white;
  }

  &__center{
    width: 700px;
    height: 156px;
    background: url(download.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    


    &__icon{
      
      .profile_icon{
        width: 60px;
        height: 60px;
        border: 1px solid  none;
        border-radius: 50%;
        
      }
    }

    &__nickname{

      .nickname{
        width: 220px;
        height: 48px;
        margin: 0px  0px  0px 8px;
        padding-left: 5px;
        -webkit-border-radius:4px;
        border: 0.5px solid gray;
        &:focus{
          outline: 0;
          border: 0.5px solid $mercari_blue;
        }
      }
    }

  }

  &__lower{
    width: 700px;
    height: 300px;
    padding: 40px 0px;
    background-color:#f5f5f5;

    &__textarea{
      height: 216px;
      text-align: center;
      // padding: 10px;
      
      .introduction{
        resize: vertical;// 高さのみ広がるテキストエリア
        width: 100%;
      // min-width:668px;
        min-height: 216px;
        padding: 10px;
        &:focus{
          outline: 0;
          border: 0.5px solid $mercari_blue;
        }
      }
    }
    .button{
      display: block;
      width: 100%;
      height: 40px;
      margin: 20px 0 5px;
      padding: 0 10px;
      background-color: $mercari_red;
      text-align: center;
      border: none;
      color: white;
      line-height: 30px;
      border-radius: 3px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
