.image{
  position: relative;
}
.stop_listing{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 0;
  border-color:#888888 transparent transparent transparent;
}
.stop{
  position: absolute;
  top: 27px;
  left: -8px;
  z-index: 2;
  transform: rotate(-45deg);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}

