.footer-pan
  .footer-pan--inner
    %ul
      %li.mercari 
        = link_to "メルカリ", root_path
      %li 
        %p >
      %li
        = @product.category.parent.parent.name
      %li 
        %p >
      %li 
        = @product.category.parent.name
      %li 
        %p >
      %li
        = @product.category.name