.links-container
  .links-container--left
    = link_to ", ""#" do
      %span <
      %p CHANEL シャネル アイシャドウ
  .links-container--right
    = link_to ", ""#" do
      %p 「アイドルマスター SideM」THE IDOLM@STER SideM ST…
      %span >
