.othersOfCategory-container
  .othersOfCategory-container--upper
    = link_to "ニット/セーター （レディース） その他の商品", "#"
  .othersOfCategory-container--lower
    %ul.upper-ul
      %li.product
        = link_to "" do
          .product__image
          .product__textarea
            .product__textarea--upper
              マイブック クーポン
            .product__textarea--lower
              ¥400
      %li.product
        .product__image
        .product__textarea
          .product__textarea--upper
          .product__textarea--lower
      %li.product
        .product__image
        .product__textarea
          .product__textarea--upper
          .product__textarea--lower
    %ul.lower-ul
      %li.product
        .product__image
        .product__textarea
          .product__textarea--upper
          .product__textarea--lower
      %li.product
        .product__image
        .product__textarea
          .product__textarea--upper
            ティンバーランド ブーツ
          .product__textarea--lower
            %p ￥3,000
            .likes
              %span ♡
              %span 1
      %li.product
        .product__image
        .product__textarea
          .product__textarea--upper
          .product__textarea--lower
