= render 'shared/header'
.slider
.popular-category-area
  .popular-category-area__top
    人気のカテゴリー
  .popular-category-area__bottom
    %ul.popular-category-area__bottom--list
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.new-items-index
  .new-items-index__ledies
    .new-items-index__ledies--top
      .new-items-index__ledies--top--title
        レディース新着アイテム
      .new-items-index__ledies--top--more
        もっと見る>
    .new-items-index__ledies--bottom
      %ul.items-top
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
      %ul.items-bottom
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
  .new-items-index__mens
    .new-items-index__mens--top
      .new-items-index__mens--top--title
        メンズ新着アイテム
      .new-items-index__mens--top--more
        もっと見る>
    .new-items-index__mens--bottom
      %ul.items-top
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
      %ul.items-bottom
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
  .new-items-index__machines
    .new-items-index__machines--top
      .new-items-index__machines--top--title
        家電・スマホ・カメラ新着アイテム
      .new-items-index__machines--top--more
        もっと見る>
    .new-items-index__machines--bottom
      %ul.items-top
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
      %ul.items-bottom
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
  .new-items-index__toys
    .new-items-index__toys--top
      .new-items-index__toys--top--title
        おもちゃ・ホビー・グッズ新着アイテム
      .new-items-index__toys--top--more
        もっと見る>
    .new-items-index__toys--bottom
      %ul.items-top
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
      %ul.items-bottom
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
= render 'shared/main_footer'