.my-page-container
  .my-page-container--upper
    %h2 本人情報の登録
  .my-page-container--lower
    .my-page-container--lower--inner
      = form_for "" do |f|
        .null-null
          %h5 携帯電話の番号
        = f.text_field :nickname, placeholder: "携帯電話の番号を入力"
        = f.button "SMSを送信する"
        %p *電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      = link_to do
        %h6 電話番号の確認が必要な理由
        %span >