header{
  height: 110px;
  margin-bottom: 20px;
  background-color: #ffffff;
  font-size: 20px;
  box-shadow: 0 2px 2px 2px #CECECE;
  .header-container{
    padding: 10px 0 0;
    width: 70%;
    margin: 0 auto;
    &__upper{
      display: flex;
      justify-content: space-between;
      height: 40px;
      &--logo{
        display: flex;
        margin-right: 30px;
        li{
          padding-right: 5px;
        }
      }
      &--search{
        position:relative;
        width: 80%;
        input{
          width: 100%;
          height: 40px;
          line-height: 40px;
          padding: 0 50px 0 10px;
          background-color: #f5f5f5;
          border-radius: 5px;
          border: 0.5px solid #cccccc;
          font-size: 16px;
          &:focus{
            outline: 0;
            border: 0.5px solid $mercari_blue;
          }
        }
        .fa{
          position:absolute;
          right: 10px;
          line-height: 40px;
        }
      }
    }
    &__lower{
      display: flex;
      justify-content: space-between;
      height: 50px;
      padding-top: 10px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
      &--left{
        display: flex;
        .fa{
          color: $mercari_red;
        }
        li{
          margin-right: 20px;
        }
      }
      &--right{
        display: flex;
        .new-user-resistration{
          margin: 5px;
          padding: 0px 10px;
          background-color: $mercari_red;
          line-height: 30px;
          font-size: 14px;
          border-radius: 3px;
          font-weight: normal;
          a{
            color: white;
            text-decoration: none;
          }
        }
        .log-in{
          margin: 5px;
          padding: 0px 10px;
          line-height: 30px;
          font-size: 14px;
          border: 1px solid $mercari_blue;
          border-radius: 3px;
          &:hover{
            background-color: $mercari_blue;
            transition: 0.3s ease-in-out;
          }
          a{
            display: block;
            color: $mercari_blue;
            text-decoration: none;
            &:hover{
              color: white;
              transition: 0.3s ease-in-out;
            }
          }
        }
        .header-block{
          margin-left: 40px;
          a{
            display: flex;
            text-decoration: none;
            &:hover{
              color: $mercari_blue;
              transition: 0.3s ease-in-out;
            }
            .font-awesome{
              font-size: 20px;
            }
            .signed-in{
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}