.links-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-size: 8px;
  font-weight: bold;
  a{
    display: flex;
    color: $mercari_blue;
    text-decoration: none;
    &:hover{
      border-bottom: 0.5px #0295EE solid;
      opacity: 0.7;
    }
    span{
      padding-right: 5px;
    }
  }
}